<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="css/base.css">
	</head>
	<body>
		<!-- F1: 顶部条 -->
		<div class="f1">
			<div class="container">
				<img class="logo" src="img/logo.png">
				<span class="h1">欢迎注册</span>
			</div>
		</div>
		<!-- F2: 页面主体 -->
		<div class="f2">
			<div class="container">
				<div class="register-box">
					<div class="row1">
						<span class="col1">新用户注册</span><span class="col2">直接登录</span>
					</div>
					<div class="row2">
						<label for="uname">用户名：</label>
						<input placeholder="请输入用户名" id="uname">
						<span class="success">用户名不能为空</span>
					</div>
					<div class="row2">3</div>
					<div class="row2">4</div>
					<div class="row2">5</div>
					<div class="row2">6</div>
					<div class="row3">7</div>
				</div>
			</div>
		</div>
		<!-- F3: 底部功能菜单(四宫格) -->
		<div class="f3">
			<div class="container">
				<div class="col">
					<img src="img/icon1.png">
					<div>品质保障</div>
				</div>
				<div class="col">
					<img src="img/icon2.png">
					<div>私人订制</div>
				</div>
				<div class="col">
					<img src="img/icon3.png">
					<div>学员特供</div>
				</div>
				<div class="col">
					<img src="img/icon4.png">
					<div>专属特权</div>
				</div>
			</div>
		</div>
		<!-- F4: 版权声明条 -->
		<div class="f4">
			<div class="container">
				©2018 益科技有限公司 版权所有 浙ICP备08000653号-75
			</div>
		</div>
	</body>
</html>

* {
	/* 所有元素盒子模型：边框盒子 */
	/* 添加border和padding不影响总尺寸 */
	box-sizing: border-box;
}
body {
	margin: 0;
	background-color: #f5f5f5;
	color: #4f4d4e;
	font-family: '黑体', Arial, helvetica;
	font-size: 12px;
}
/***测试用代码开始***/
/* div {
	border: 1px solid #aaa;
} */
/***测试用代码结束***/

.container {
	width: 1000px;
	margin: 0  auto;
}

/****F1专用样式****/
.f1 {
	padding: 25px  0;
}
.logo {
	vertical-align: bottom;
}
.h1 {
	font-size: 1.8em;
	padding-left: .8em;
}

/****F2专用样式****/
.f2 {
	background-image: url(../img/bg.png);
	/* 背景图尺寸：竖直方向拉伸刚好填满F2高度，但水平方向上等比例缩放不进行拉伸 */
	background-size: auto  100%;
	/* 让背景图在屏幕中央有一份完整的 */
	background-position: center  center;
}
.f2 > .container {
	/* 上下内边距 —— 边框盒子加边距不会影响总宽度 */
	padding: 40px 0;
}
.register-box {
	/* 宽度需要手工指定 */
	width: 500px;
	/* 高度靠内容撑起来 —— 无需指定*/
	height: 500px;  /*测试用*/
	/* 实现右对齐效果 */
	margin-left: auto;
	background-color: rgba(0,0,0, .4);
	color: #fff;
}
.row1 {
	padding: 16px 12px;
}
.row1 > .col1 {
	/* 行内元素变为行内块元素，才能指定宽度 */
	display: inline-block;
	width: 50%;
	font-size: 1.2em;
}
.row1 > .col2 {
	/* 行内元素变为行内块元素，才能指定宽度 */
	display: inline-block;
	width: 50%;
	font-size: .9em;
	/* 文字右对齐 */
	text-align: right;
}
.row2 {
	/* 下方的内边距 */
	padding-bottom: 20px;
}
.row2 > label {
	/* 行内元素改为行内块，才能指定宽度，才能右对齐 */
	display: inline-block;
	width: 6.5em;
	text-align: right;
}
.row2 > input {
	/* input默认就是行内块 */
	width: 220px;
	padding: 6px 15px;
	/* 边框圆角半径 */
	border-radius: 2px;
	/* 外轮廓线：去除 */
	outline: none;
	border: none;
}
.row2  >  span {
	/* 行内元素改为行内块，才能有竖直方向上的padding */
	display: inline-block;
	padding: 5px 7px;
	border-radius: 2px;
}
.row2  >  .danger {
	/* 错误消息的背景颜色 */
	background-color: #c00;
}
.row2  >  .success {
	/* 成功消息的背景颜色 */
	background-color: #0c0;
}
.row2  >  .default {
	/* 默认消息的背景颜色 */
	background-color: #aaa;
}

/****F3专用样式****/
.f3 > .container:after {
	/* 生成空字符串——第5个儿子 */
	content: '';
	/* 第5个儿子显示模式为块 */
	display: block;
	/* 第5个儿子清除兄弟们左右浮动对父元素的影响 */
	clear: both;
}
.f3 > .container  > .col {
	/* 让每个.col左浮动起来——会自动变为行内块 */
	float: left;
	/* 修改行内块元素的宽度 */
	width: 25%;
	/* 文本内容水平对齐方式：居中 */
	text-align: center;
	/* 添加竖直方向上的内边距 */
	padding: 35px 0;
}

/****F4专用样式		****/
.f4 {
	background-color: #fff;
}
.f4 > .container {
	text-align: center;
	/* 此处不使用padding，也可以实现文字上下增加空白 */
	/* 行高 */
	line-height: 7em;              
}
